parameters:
    level: 8
    paths:
        - app
        - config
        - database
        - routes
        - tests
    excludePaths:
        - vendor
        - bootstrap/cache
        - storage
        - node_modules
        - app/Http/Middleware/VerifyCsrfToken.php
    ignoreErrors:
        # Ignore Laravel's dynamic property access
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model::\$#'
        # Ignore Laravel's magic methods
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder#'
        # Ignore Carbon date issues
        - '#Property .* does not accept Illuminate\\Support\\Carbon#'
        # Ignore Eloquent collection methods
        - '#Method Illuminate\\Database\\Eloquent\\Collection.*#'
        # Ignore Laravel Facade methods
        - '#.*on class Illuminate\\Support\\Facades\\.*#'
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    polluteScopeWithLoopInitialAssignments: false
    polluteScopeWithAlwaysIterableForeach: false
